* {
    box-sizing:border-box;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:$paragraphFont;
    margin:0;
    box-sizing:border-box;
}

h1, h2, h3, h4, h5 {
    font-family:$headingFont;
    font-weight:900;
}