.blog-section {

    overflow: hidden;
    
    background-color:#1e1e1e;
    color:white;

    &__svg {
        width:100px;

        @mixin atMedium {
            width:200px;
        }
    }

    &__title {
        font-size:1.8rem;
        margin:10px 0;
        letter-spacing:-1px;
        max-width:450px;

        @mixin atMedium {
            font-size:3.4rem;
            max-width:850px;
        }

        &-green {
            color: $mainGreen;
        }
    }

    &__subtitle {
        font-weight:100;
        line-height:1.8rem;


        @mixin atMedium {
            font-size:1.2rem;
            line-height:2rem;
        }
    }

    &__guide {
        display:none;

        @mixin atLarge {
            position:absolute;
            top:110px;
           transform:translateX(40px);
           display:inline-block;
        }
       
    }

}

.blog-guide-path {
    stroke-dasharray: 1689.8388671875px;
    stroke-dashoffset: -1689.8388671875px;

    &--animate {
        animation: blogPathDraw 1.2s forwards ease-out;
        animation-delay: 1.3s;
    }
}



@keyframes blogPathDraw {
    to {
       stroke-dashoffset: 0px; 
    }
}