.content-container {
        max-width:800px;
        margin:0 auto;

        &--left {
            max-width:775px;
            margin: 0;
        }

        &--large {
            max-width:900px;
            margin:0 auto;
        }
}