.cta-section {

    overflow: hidden;

    text-align:center;

    &__title {
        font-size:2rem;
        letter-spacing:-1px;
        margin-bottom:0px;
        max-width:450px;
        margin-left:auto;
        margin-right:auto;

        @mixin atMedium {
            font-size:3rem;
            letter-spacing:-2px;
            max-width:900px;
        }

        &-green {
            color:$mainGreen;
        }

    }

    &__grid-item__icon {
        height:30px;
        padding-right:5px;
        transform:translateY(5px);
    }

    &__flex-container {

        display:block;

        @mixin atMedium {
        display:flex;
        flex:1;
        justify-content: center;
        }
        
    }

    &__flex-item {
        margin:0 auto;
        display:table;
        text-align:center;
        padding: 1.5rem 3rem;

        @mixin atMedium {
            margin:15px;
            padding: 3.5rem 3rem;
            text-align:left;
        }
       
        
        &-shadow {
            box-shadow: 0px 30px 30px rgba(#1e1e1e, 0.2);
        }
    }

    &__div-title {
        font-size:1.5rem;
        text-transform:uppercase;

        @mixin atLarge {
            font-size:1.2rem;
        }

        @mixin atLarger {
            font-size:1.5rem;
        }
    }

    &__div-subtitle {
        max-width:280px;
        line-height:2rem;
        font-weight:100;
        margin-bottom:25px;
    }

}
