.glide__slide {

    .slight-edge-link {
        display:none;
    }

    .lenhoff-link {
        display:none;
    }

    .cramer-link {
        display:none;
    }

    .strong-point-link {
        display:none;
    }



}