.hero-section {

    text-align:center;
    padding: 7rem 0 0 0;
    margin:0;
    position:relative;
    overflow:hidden;
    width:100%;

    @mixin atMedium {
        padding:10rem 0 0 0;
    }


    &__top-svg {
        width:100px;

        @mixin atMedium {
            width:150px;
        }

    }

    &__top-svg-top {
        transform-origin: 50% 50%;

        &-animate {
            animation: hero-animate .5s forwards;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-iteration-count: 1;
        }

        &-animate-out {
            animation: hero-animate-out .5s forwards;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-iteration-count: 1;
        }
    }

    &__top-svg-middle {
        transform-origin: 50% 50%;

        &-animate {
            animation: hero-animate .5s forwards .05s;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &-animate-out {
            animation: hero-animate-out .5s forwards;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        
    }

    &__top-svg-bottom {

        &-animate {
            animation: hero-animate .5s forwards .1s;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &-animate-out {
            animation: hero-animate-out .5s forwards;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        
    }

    &__title {
        margin-top:25px;
        font-size:3.5rem;
        font-weight:900;
        letter-spacing: -2px;
        position:relative;
        z-index:3;
        margin-bottom:20px;
        line-height: 3rem;
        display:block;

        @mixin atMedium {
            font-size:7.5rem;
            line-height: 115px;
            letter-spacing: -5px;
            margin-top:20px;
            margin-bottom:30px;

        }
    }

    &__title-gray {

        &::after {
            content:'';
            position:absolute;
            width:100%;
            height:120%;
            top:0;
            left:0;
            bottom:0;
            right:0;
            background:white;
            transform-origin:0 100%;
        }
    }

    &__title-green {
        color:$mainGreen;
        display:block;
        position:relative;
        z-index:3;

        &::after {
            content:'';
            position:absolute;
            width:100%;
            height:120%;
            top:0;
            left:0;
            bottom:0;
            right:0;
            background:white;
            transform-origin:0 100%;
        }
    }

    &__subtitle {
       font-size:1rem;
        font-weight:100;
        position:relative;
        z-index:3;
        max-width:350px;
        margin-right:auto;
        margin-left:auto;
        margin-top:0;
        line-height:1.5rem;

        @mixin atMedium {
            font-size:1.4rem;
            max-width:500px;
            line-height:2.2rem;
        }
    }

    &__bottom-svg {
        position:absolute;
        bottom:-2px;
        left:0;
        width:3500px;
        z-index:0;
        pointer-events:none;
    }

    &__bottom-svg-2 {
        position:absolute;
        bottom:0;
        left:-200px;
        width:3500px;
        z-index:1;
        pointer-events:none;
    }
}

@keyframes hero-animate {
    from {
        fill:#d3d3d3;
    }
    to {
       
        fill:#53c48b;
    }
}

@keyframes hero-animate-out {
    from {
        transform: scaleX(1.2);
        fill:#53c48b;
    }
    to {
        transform: scaleX(1);
        fill:#d3d3d3;
    }
}

@keyframes hero-text-shadow {
    from {
       text-shadow:none;
    }
    to {
        text-shadow:5px 0 20px rgba($mainGreen, 1);
    }
}











