.recent-work-section {
    text-align:center;
    position:relative;
    overflow:hidden;

    &__bg {
        position:absolute;
        top:0;
        width:100%;
        height:100%;
        transform:scaleX(1.3);
        left:0;
        z-index:1;
    }

    &__svg {
        width:35px;
        padding-right:5px;
    }

    &__title {
        font-size:2rem;
        letter-spacing:-2px;
        margin-bottom:20px;

        @mixin atMedium {
            font-size:3.6rem;
        }
    }

    &__subtitle {
        font-weight:100;
        line-height:2rem;
        margin:0 auto;
        
        @mixin atMedium {
            font-size:1.2rem;
            max-width:700px;
        }
    }

    &__glider {

        max-width:1000px;
        padding:2rem 0;
        margin-left:auto;
        margin-right:auto;
        position:relative;
        z-index:2;

        &-image {
           width: 300px;
            display:block;
            margin-left:auto;
            margin-right:auto;
            padding-bottom:50px;

            @mixin atSmall {
                width:400px;
            }

            @mixin atMedium {
                width:600px;
            }
        }

        &-button-left {
            width:50px;
            position:absolute;
            left:20px;
            top:280px;

            @mixin atSmall  {
                left:20px;
                top:120px;
            }
           
            @mixin atMedium {
                left:20px;
                top:150px;
            }
            
            & circle {
                transition:all 0.2s ease;
            }

            &:hover circle {
                fill:#1e1e1e;
            }
        }

        &-button-right {
            width:50px;
            position:absolute;
            right:20px;
            top:280px;

            @mixin atSmall  {
                right:20px;
                top:120px;
            }

            @mixin atMedium {
                right:20px;
                top:150px;
                
            }

            & circle {
                transition:all 0.2s ease;
            }

            &:hover circle {
                fill:#1e1e1e;
            }
        }
    }


}