.recent-work-section {
    text-align:center;
    position:relative;
    overflow:hidden;

    @mixin atLarge {
        padding: 100px 0;
    }

    &__overflow {
        overflow:hidden;
    }

    &__bg {
        position:absolute;
        top:0;
        width:100%;
        height:100%;
        transform:scaleX(1.3);
        left:0;
        z-index:1;
    }

    &__path1 {
        stroke-dasharray: 4748px;
        stroke-dashoffset: -4748px;

        &__animate {
            animation: path1_go 3s forwards;
        }
    }

    @keyframes path1_go {
        to {
            stroke-dashoffset: 0;
        }
    }


    &__path2 {
        stroke-dasharray: 4520px;
        stroke-dashoffset: -4520px;
        
        &__animate {
            animation: path2_go 3s forwards;
        }
    }

    @keyframes path2_go {
        to {
            stroke-dashoffset: 0;
        }
    }


    &__svg {
        width:35px;
        padding-right:5px;
    }



    &__title {
        font-size:2.5rem;
        letter-spacing:-2px;
        margin-bottom:20px;
        position:relative;

        @mixin atSmall {
            font-size:3.5rem;
        }


        @mixin atMedium {
            font-size:4rem;
        }
    }

    &__subtitle {
        font-weight:100;
        line-height:2rem;
        margin:0 auto;
        max-width:350px;
        
        @mixin atMedium {
            font-size:1.2rem;
            max-width:700px;
        }
    }

    &__subtitle2 {
        font-weight:100;
        line-height:2rem;
        margin:10px auto;
        max-width:600px;
        
        @mixin atMedium {
            font-size:1.2rem;
            max-width:500px;
        }

        &--green {
            color:$mainGreen;
            font-weight:500;
        }
    }
    

    &__glider {

        max-width:1000px;
        padding:2rem 0;
        margin-left:auto;
        margin-right:auto;
        position:relative;
        z-index:2;

        &-image {
           width: 350px;
            display:block;
            margin-left:auto;
            margin-right:auto;
            padding-bottom:50px;

            @mixin atSmall {
                width:500px;
            }

            @mixin atMedium {
                width:700px;
            }
        }

        &-button-left {
            width:50px;
            position:absolute;
            left:370px;
            top:250px;
 
            @mixin atSmall  {
                left:350px;
                top:330px;
            } 
           
            @mixin atMedium {
                left:20px;
                top:150px;
            }
            
            & circle {
                transition:all 0.2s ease;
            }

            &:hover circle {
                fill:#1e1e1e;
            }
        }

        &-button-right {
            width:50px;
            position:absolute;
            right:370px;
            top:250px;

            @mixin atSmall  {
                right:350px;
                top:330px;
            }

            @mixin atMedium {
                right:20px;
                top:150px;
                
            }

            & circle {
                transition:all 0.2s ease;
            }

            &:hover circle {
                fill:#1e1e1e;
            }
        }
    }


}