.skills-section {
    text-align:center;

    &__title {
        font-size:2.2rem;
        margin:0;
        display:inline-block;
        position:relative;

        &::after {
            content:'';
            position:absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            transform-origin:0 100%;
            background:white;
        }

        @mixin atSmall {
            font-size:3rem;
        }

        @mixin atMedium {
            font-size:4rem;
        }
    }

    &__subtitle {
        margin:20px auto;
        font-weight:200;
        max-width:500px;
        line-height: 1.5rem;
        display:block;
        position:relative;

        &::after {
            content:'';
            position:absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            transform-origin:0 100%;
            background:white;
        }
        

        @mixin atMedium {
            font-size:1.2rem;
            line-height: 2rem;
        }
    }

    &__flex-section {
        display:block;
        margin:0 auto;
        box-sizing:border-box;
        transform:translateX(0);
        

        @mixin atMedium {
        display:flex;
        justify-content: space-between;
        max-width:1200px;
        transform:translateX(30px);
        }
    
        &__flex-item {
            padding:20px;
            margin:5px;
            text-align:center;
            
            @mixin atMedium {
                text-align:left;
            }
        }
    }

    &__flex-title {
        font-size:1.5rem;
        transform:translateY(-10px);
        margin-bottom:10px;

       &--grey {
        color:#bfbfbf;
        font-size:1.5rem;
        transform:translateY(-10px);
        margin-bottom:10px;
       }

    }

    &__flex-skills {
        line-height:1.9rem;
        max-width:350px;
        margin:0 auto;
        font-weight:100;

        @mixin atMedium {
            max-width:300px;
        }

    }

    &__hover {
        color:$mainGreen;
        margin-top:50px;
        text-decoration:underline;
        cursor: pointer;
        font-size:1.3rem;
        display:none;

        @mixin atMedium {
            display:block;
        }
    }

    &__turn-green {
        color:$mainGreen;
    }

}

.used {
    transition:all 0.25s;
}