.wrapper {
    padding:2rem;

    &--b-padding {
        padding-bottom:75px;

        @mixin atMedium {
            padding-bottom:150px;
        }
    }

    &--mw-450 {
        max-width:550px;
        margin:0 auto;
        position:relative;
    }

    &--mw-875 {
        max-width:875px;
        margin:0 auto;
        position:relative;
    }

    &--mw-1000 {
        max-width:1000px;
        margin:0 auto;
        position:relative;
    }

    &--mw-1300 {
        max-width:1300px;
        margin:0 auto;
        position:relative;
    }

    &--padding-lg {
        padding: 5rem 1.5rem;

        @mixin atSmall {
            padding: 5rem 5.5rem;
        }

        @mixin atMedium {
            padding: 10rem 0;
        }

    }

    &--padding-lg-resume {
        padding: 5rem 1.5rem;
        

        @mixin atSmall {
            padding: 5rem 3.5rem;
        }

        @mixin atMedium {
            padding: 6rem 0;
        }

    }



    &--padding-med {

        padding: 3rem 2rem;

        @mixin atMedium {
            padding: 6rem 2rem;
        }

        &-side {
            padding: 3rem 2rem;
            position:relative;
            z-index:2;

            @mixin atMedium {
                padding: 6rem 2rem;
            }
        }
        
    }

    &--relative {
        position:relative;
    }

    &--footer {
       display:block;
       text-align:center;
       padding: 1rem 0;
       padding-top:1.8rem;

        @mixin atMedium {
            display:flex;
            justify-content: space-between;
            padding:1rem 2rem;
            align-items: center;
        }
    }

}